#nav-search-form .autocomplete-result {
    visibility: hidden;
    z-index: 9999;
    position: absolute;
    top: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    min-width: 300px;
}

#nav-search-form .autocomplete-result ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#nav-search-form .autocomplete-result li,
#nav-search-form .autocomplete-result div {
    margin: 0;
    padding: 5px;
}

#nav-search-form .autocomplete-result li:hover {
    padding: 5px;
    background-color: #ddd;
}
