@charset "utf-8";
/* ==========================================================================
   font-face
   ========================================================================== */
@font-face{
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src:url('/template/common/font/nanum-gothic-regular.eot');
    src:local(NanumGothic),
    url('/template/common/font/nanum-gothic-regular.eot?#iefix') format('embedded-opentype'),
    url('/template/common/font/nanum-gothic-regular.woff') format('woff');
}
@font-face{
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 500;
    src:url('/template/common/font/nanum-gothic-800.eot');
    src:local(NanumGothic),
    url('/template/common/font/nanum-gothic-800.eot?#iefix') format('embedded-opentype'),
    url('/template/common/font/nanum-gothic800.woff') format('woff');
}

/*.gnbDp-1-7 {position:absolute; top:-75px; left:40%; background:#13549d; width:110px !important; height:30px !important; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.gnbDp-1-7 a {color:#fff !important; font-size:13px !important; line-height:30px !important; width:110px !important; height:30px !important; border:none !important; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.gnbDp-1-7 ul {display:none;}*/

.gnbDp-1-6,
.gnbDp-1-7,
.gnbDp-1-8 {display:none;}

/* ==========================================================================
   reset
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; border:0; padding:0;}
body {font:normal 0.875em '나눔고딕','NanumGothicWeb','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; color:#464646; line-height:1.6; word-break:break-all;}
ol, ul {list-style:none; }
button {font:normal 0.875em '나눔고딕','NanumGothicWeb','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif;}
.hidden, legend, caption {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden; display:none;}
p {margin:0 0 15px 0;}
strong{font-weight:600;}
address {font-style:normal;}
.pointer {cursor:pointer;}

/* ==========================================================================
   a
   ========================================================================== */
a:link {text-decoration:none; color:#333;}
a:visited {text-decoration:none; color:#333;}
a:hover {color:#13549d; text-decoration:underline;}
a:active {color:#13549d; text-decoration:underline;}
a:focus {color:#13549d; text-decoration:underline;}

/* ==========================================================================
   padding
   ========================================================================== */
.pp5{padding:5px !important;}
.pp10{padding:10px !important;}
.pp15{padding:15px !important;}
.pp20{padding:20px !important;}
.pp25{padding:25px !important;}
.pp30{padding:30px !important;}
.pp35{padding:35px !important;}
.pp40{padding:40px !important;}
.pp45{padding:45px !important;}
.pp50{padding:50px !important;}

.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt50{padding-top:50px !important;}

.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr50{padding-right:50px !important;}

.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb50{padding-bottom:50px !important;}

.pl0{padding-left:0px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}


/* ==========================================================================
   margin
   ========================================================================== */
.mm5{margin:5px !important;}
.mm10{margin:10px !important;}
.mm15{margin:15px !important;}
.mm20{margin:20px !important;}
.mm25{margin:25px !important;}
.mm30{margin:30px !important;}
.mm35{margin:35px !important;}
.mm40{margin:40px !important;}
.mm45{margin:45px !important;}
.mm50{margin:50px !important;}

.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}

.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}

.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}

.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}


/* ==========================================================================
   width(%)
   ========================================================================== */
.width_100 {width: 100% !important;}
.width_90 {width: 90% !important;}
.width_80 {width: 80% !important;}
.width_70 {width: 70% !important;}
.width_60 {width: 60% !important;}
.width_50 {width: 50% !important;}
.width_40 {width: 40% !important;}
.width_30 {width: 30% !important;}
.width_20 {width: 20% !important;}
.width_10 {width: 10% !important;}


/* ==========================================================================
   align
   ========================================================================== */
.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.ft_left{float:left;}
.ft_right{float:right;}
.clearfix {clear:both; display:block; height:0;}
.clearfix:after{content:""; display:block; clear:both;}
.dis_b {display: block !important;}
.dis_i_b {display: inline-block !important;}


/* ==========================================================================
   table
   ========================================================================== */
table{table-layout:auto;border-collapse:collapse;border-spacing:0; width:100%;}
table td {padding:5px; text-align:center;}

.table {width:100%; margin:10px 0; table-layout:auto; border-collapse:collapse; border-spacing:0; border-top:2px solid #13549d; border-bottom:1px solid #e1e1e1;}
.table th, .table td {font-weight:600; font-size:13px; text-align:center; border:1px solid #e1e1e1; border-right:none;/* border-bottom:none;*/}
.table th {padding:10px 8px; color:#444; background:#f4f4f4;}
.table th.noborder {border-left:none;}
.table th.point {background:#f4f4f4;}
.table td {padding:7px 8px; color:#555; font-weight:normal; }
.overLine td {padding:5px 0px; font-size:12px}
.table td.point {background:#f4f4f4;}
.table td.noborder {border-left:none;}

.table thead th {border-bottom:1px solid #c1c1c1;}
.table tbody th {color:#444;}

.table ul.list li{padding-left:10px;}
.table ul.list li ul li{padding-left:0px; background:none;}

.table_top{margin:0px 0px 0px 0px; font-size:14px; color:#444;}
.table_top_a{margin:-20px 0px 8px 0px; font-size:14px; color:#444;}

.table_bott{margin:8px 0px 0px 0px; font-size:14px; color:#ea3639;}

.table table.notable{table-layout:auto;border-collapse:collapse;border-spacing:0; width:100%;}

.table table.no{table-layout:auto;border-collapse:collapse;border-spacing:0; width:100%;}
.table table.no th,
.table table.no td{border:none; padding:3px 0px;}

.table .table {border-top:1px solid #4d4d4d;}
.table .table th{background:none;}

.table strong.h7, .table span.h7, .table em.h7, .table .h7 li, .table .def li .h7 li,
.table strong.h8, .table span.h8, .table em.h8, .table .h8 li, .table .def li .h8 li{font-size:13px !important;}

.cell_left {text-align:left !important;}
.cell_center {text-align:center !important;}
.cell_right {text-align:right !important;}

.table_infbox:after {content:""; display: block; clear:both;}
.table_infbox p {float:left; margin:0;}
.table_infbox select {float:right;}

.table_calendar {width:100%; margin:10px 0; table-layout:auto; border-collapse:collapse; border-spacing:0; border-bottom:1px solid #e1e1e1;}
.table_calendar th,
.table_calendar td {font-weight:600; font-size:13px; text-align:center; border:1px solid #e1e1e1; border-right:none; border-bottom:none;}
.table_calendar th {padding:10px 8px; color:#444; background:#4d576c; color:#fff;}
.table_calendar td {position:relative; padding:5px; height:120px;}
.table_calendar th.noborder {border-left:none;}
.table_calendar th.point {background:#f4f4f4;}
.table_calendar td {padding:7px 8px; color:#555; font-weight:normal; vertical-align:middle;}
.table_calendar td span {position:absolute; top:15px; left:15px; color:#444; font-size:15px;}
.table_calendar td span.red {color:#f38700;}
.table_calendar td span.gray {color:#b2b2b2;}
.table_calendar td span.blue {color:#5583b7;}
.table_calendar td.noborder {border-left:none;}
.table_calendar td ul {vertical-align:middle; margin-top:30px; height:80px; overflow:hidden;}
.table_calendar td ul li {}
.table_calendar td ul li a {letter-spacing:-1px; color:#3673bb;}

/* ==========================================================================
   seed_테이블
   ========================================================================== */
.wa {overflow:hidden;position:absolute;top:0;left:-10000%;width:1px;height:1px;font-size:0;line-height:0;text-indent:-10000px;}
.seed_fl {float:left;}
.seed_fr {float:right;}
.seed_cf:after {display:block;clear:both;content:" ";}
.seed_tbl {border-top:2px solid #13549d;border-bottom:1px solid #cccccc;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.seed_tbl .al {text-align:left;}
.seed_tbl .ac {text-align:center;}
.seed_tbl .ar {text-align:right;}
.seed_tbl .vt {vertical-align:top;}
.seed_tbl .vm {vertical-align:middle;}
.seed_tbl .vb {vertical-align:bottom;}
.seed_tbl table {width:100%;border-collapse:collapse;table-layout:fixed;}
.seed_tbl table th, .seed_tbl table td {height:25px;min-height:25px;padding:10px;}
.seed_tbl table th {border-bottom:1px solid #e1e1e1; background:#f4f4f4;}
.seed_tbl table td {border-top:1px solid #eeeeee; text-align:left;}
.seed_tbl table .textDown {word-break:break-word;}
.seed_tbl table tbody tr:first-of-type td {border-top:0;}
.seed_tbl table td .seedbbs_icon_secret {margin-right:5px;}
.seedbbs_btn {display:inline-block;padding:5px 10px;border:1px solid #5583b7; color:#fff !important; border-radius:2px;background:#5583b7; background:-moz-linear-gradient(top,#5583b7 0%,#5583b7 50%,#5583b7 51%,#5583b7 100%); background:-webkit-linear-gradient(top,#5583b7 0%,#5583b7 50%,#5583b7 51%,#5583b7 100%); background:linear-gradient(to bottom,#5583b7 0%,#5583b7 50%,#5583b7 51%,#5583b7 100%);text-decoration:none;}
.seed_bbs_box input[type='text'],.seed_bbs_box input[type='password'],.seed_bbs_box input[type='submit'] {padding:5px;border:1px solid #dddddd;border-radius:2px;vertical-align:top;}
.seed_bbs_box input[type='submit'] {padding:5px 10px; background:#ffffff; background:-moz-linear-gradient(top,#5583b7 0%,#5583b7 50%,#5583b7 51%,#5583b7 100%); background:-webkit-linear-gradient(top,#5583b7 0%,#5583b7 50%,#5583b7 51%,#5583b7 100%); background:linear-gradient(to bottom,#5583b7 0%,#5583b7 50%,#5583b7 51%,#5583b7 100%);}
.ie.ie6 .seedbbs_btn input[type='submit'], .ie.ie7 .seedbbs_btn input[type='submit'], .ie.ie8 .seedbbs_btn input[type='submit'], .ie.ie8 .seedbbs_btn input[type='submit'] {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );}
.seedbbs_btn:hover, .seedbbs_btn:focus {text-decoration:none;}
.seedbbs_btn.last {margin-left:5px;}
.seed_tbl table tbody tr:hover {background-color:#fafafa;}

.listWrap .seed_tbl table td a {display:block;text-decoration:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}


/** seed_bbs_box */
.seed_bbs_box .totalCnt_bbsSearch {margin-bottom:20px;}
.seed_bbs_box .totalCnt {float:left;line-height:29px;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.seed_bbs_box .bbsSearch {float:right;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.seed_bbs_box select {height:29px;padding:5px;border:1px solid #dddddd;border-radius:2px;}
.totalCnt_bbsSearch #search {margin-left:3px;}
.totalCnt_bbsSearch input[type="submit"] {margin-left:3px;}
.totalCnt_bbsSearch #searchDate {margin-left:3px;}
.totalCnt_bbsSearch #searchDate .dash {line-height:29px;padding:0 3px;}

.seedbbs_prev_next {margin-top:50px;}

/** seed pagination */
.seedbbs_pagination {padding:20px 0;text-align:center;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.seedbbs_pagination .seed_cf {display:inline-block;}
.seedbbs_pagination .paginationList > li {margin-left:2px;}
.seedbbs_pagination .paginationList > li:first-child {margin-left:0;}
.seedbbs_pagination .paginationList > li, .seedbbs_pagination .paginationListNum > li {float:left;list-style:none; width:auto !important;}
.seedbbs_pagination .paginationList > li {height:29px;}
.seedbbs_pagination .paginationListNum > li {margin-right:4px !important;}
.seedbbs_pagination a, .seedbbs_pagination strong, .seedbbs_pagination span {display:inline-block;float:left;position:relative;padding:5px 9px;border:1px solid #cccccc;}
.seedbbs_pagination a {-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;text-decoration:none;}
.seedbbs_pagination strong {padding:4px 9px;background:#5583b7; border:2px solid #5583b7; color:#fff;}
.seedbbs_pagination span {border-color:#eeeeee;}
.seedbbs_pagination a:hover, .seedbbs_pagination a:focus {border-color:#5583b7;}
.seedbbs_pagination .paginationNumber {margin:0 15px !important;}
.seedbbs_pagination a, .seedbbs_pagination strong {font-size:13px;}

/** seed 상세화면 */
.viewWrap .seed_tbl table th {border:1px solid #eeeeee; border-left:0; background-color:#fafafa;}
.viewWrap .seed_tbl table tbody tr:first-child > th {border-top:0;}
.viewWrap .seed_tbl table tbody tr:last-child > th {border-bottom:0;}
.viewWrap .seed_tbl table tbody tr:hover {background-color:transparent;}
.seedbbsContentWrap {min-height:160px; padding:10px;}
.seedbbsContentWrap video {min-width:100%;}
.seedbbsContentWrap img, .seedbbsContentWrap video {max-width:100%; height:auto;}
.viewWrap .seed_tbl .bbsFileList li {list-style:none;}
.viewWrap .seed_tbl .bbsFileList li a {display:block; line-height:30px; text-decoration:none;}
.viewWrap .seed_tbl .bbsFileList li a img {margin-right:5px; vertical-align:middle;}
.viewWrap .seed_btnArea {margin-top:20px;}
.seedbbs_content_commentWrap {margin-top:20px;}
.seedbbs_content_comment_inner {margin-right:105px;}
.seedbbs_content_comment_inner #bbsCommentContent {overflow-y:auto; float:left; width:100%; height:100px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:20px; border:1px solid #dddddd; resize:vertical; -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; transition:all 0.5s ease;}
.seedbbs_content_comment_inner input[type='submit'] {float:right; position:relative; right:-105px; width:100px; height:100px; margin-left:-105px;}
.commentListArea {margin-top:20px; border-top:2px solid #cccccc; border-bottom:1px solid #cccccc;}
.commentListArea ul li {border-top:1px solid #dddddd; list-style:none;}
.commentListArea ul li:first-child {border-top:0;}
.commentListArea .user_write_date {height:40px; border-bottom:1px solid #eeeeee; line-height:40px;}
.commentListArea .user_write_date > p {float:left; line-height:40px;}
.commentListArea .user_write_date a {float:right; width:20px; height:20px; margin-top:10px; margin-right:10px; text-decoration:none; text-indent:-9999em;}
.commentListArea .user_write_date strong {margin:0 10px;}
.commentListArea .user_write_date .date {font-size:11px;}
.commentListArea .commentTxt {padding:20px 10px;word-break:break-word;}
.seedbbs_prev_next a {text-decoration:none;}
.seedbbs_prev_next .prev, .seedbbs_prev_next .next {display:block; position:relative;}
.seedbbs_prev_next .next:after {position:absolute; top:7px; right:0; width:0; height:0; border-top:3px solid #333333; border-right:3px solid transparent; border-left:3px solid transparent; content:'';}
.seedbbs_prev_next .prev:after {position:absolute; top:7px; right:0; width:0; height:0; border-right:3px solid transparent; border-bottom:3px solid #333333; border-left:3px solid transparent; content:'';}
.seedbbs_prev_next .seed_tbl table td a {display:block; text-decoration:none; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}


/* ==========================================================================
   공통 button
   ========================================================================== */
.btn {display:inline-block; height:40px; line-height:40px; font-size:14px; font-weight:600; text-align:center; /*padding:0px 10px;*/ text-indent:0px !important; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.btn:link,
.btn:visited,
.btn:active{text-decoration:none;}
.btn:hover{text-decoration:none;}

.btn {display:inline-block; height:40px; line-height:40px; font-size:14px; font-weight:600; text-align:center; /*padding:0px 10px;*/ text-indent:0px !important; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.btn:link,
.btn:visited,
.btn:active{text-decoration:none;}
.btn:hover{text-decoration:none;}

.btn.type_02{height:38px; line-height:38px; padding:2px 30px;}
.btn.type_02:link,
.btn.type_02:visited,
.btn.type_02:active {color:#666; border:1px solid #cfcfcf; background:#fff;}
.btn.type_02:hover {border:1px solid #cfcfcf; background:#e1e1e1;}

.btn.type_03 {height:38px; line-height:38px; padding:2px 30px;}
.btn.type_03:link,
.btn.type_03:visited,
.btn.type_03:active {color:#fff; border:1px solid #666; background:#666;}
.btn.type_03:hover {color:#fff; border:1px solid #666; background:#555;}

.btn.type_04 {height:38px; line-height:38px; padding:2px 30px;}
.btn.type_04:visited,
.btn.type_04:active {color:#fff; background:#237ab2;}
.btn.type_04:hover {color:#fff; background:#237ab2;}

.btn.type_05 {height:38px; line-height:38px; padding:2px 30px;}
.btn.type_05:link,
.btn.type_05:visited,
.btn.type_05:active {color:#fff; background:#009a92;}
.btn.type_05:hover {color:#fff; background:#009a92;}

.btn.type_06 {height:38px; line-height:38px; padding:2px 30px;}
.btn.type_06:link,
.btn.type_06:visited,
.btn.type_06:active {color:#fff; background:#e94649;}
.btn.type_06:hover {color:#fff; background:#e94649;}


.btn.sm {display:inline-block; height:28px; line-height:28px; font-size:13px; font-weight:600; text-align:center; text-indent:0 !important; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.btn:link,
.btn:visited,
.btn:active{text-decoration:none;}
.btn:hover{text-decoration:none;}

.btn.sm.type_02{height:28px; line-height:28px; padding:2px 10px;}
.btn.sm.type_02:link,
.btn.sm.type_02:visited,
.btn.sm.type_02:active {color:#666; border:1px solid #cfcfcf; background:#fff;}
.btn.sm.type_02:hover {border:1px solid #cfcfcf; background:#e1e1e1;}

.btn.sm.type_03 {height:28px; line-height:28px; padding:2px 10px;}
.btn.sm.type_03:link,
.btn.sm.type_03:visited,
.btn.sm.type_03:active {color:#fff; border:none; background:#666;}
.btn.sm.type_03:hover {color:#fff; border:none; background:#555;}

.btn.sm.type_04 {height:28px; line-height:28px; padding:2px 10px;}
.btn.sm.type_04:link,
.btn.sm.type_04:visited,
.btn.sm.type_04:active {color:#fff; background:#456188;}
.btn.sm.type_04:hover {color:#fff; background:#395479;}

.btn.sm1 {display:inline-block; height:28px; line-height:28px; font-size:12px; font-weight:600; text-align:center; text-indent:0 !important; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.btn.sm1.type_04 {height:28px; line-height:28px; padding:2px 10px;}
.btn.sm1.type_04:link,
.btn.sm1.type_04:visited,
.btn.sm1.type_04:active {color:#fff; background:#456188;}
.btn.sm1.type_04:hover {color:#fff; background:#395479;}

.btn.sm.type_05 {height:28px; line-height:28px; padding:2px 10px;}
.btn.sm.type_05:link,
.btn.sm.type_05:visited,
.btn.sm.type_05:active {color:#fff; background:#f38700;}
.btn.sm.type_05:hover {color:#fff; background:#f38700;}

.btn.sm.type_06 {height:28px; line-height:28px; padding:2px 10px;}
.btn.sm.type_06:link,
.btn.sm.type_06:visited,
.btn.sm.type_06:active {color:#fff; background:#e94649;}
.btn.sm.type_06:hover {color:#fff; background:#e94649;}

.btn.sm span {display:inline-block; padding-right:20px; background:url("/template/site/00001/images/common/bul_mybox_btn.png") no-repeat right 50%;}

.blue_star {color:#008cd6; display:inline-block; margin-right:2px;}
.red_star {color:#f38700; display:inline-block; margin-right:2px;}

/* ==========================================================================
   form, input set
   ========================================================================== */
form,input,form,fieldset{border:none}label,select,input,button{vertical-align:middle}button{border:0;cursor:pointer}button,input,textarea{margin:0;font-size:100%;vertical-align:baseline}button,input{line-height:normal}button{text-transform:none}button[disabled],html input[disabled]{cursor:default}button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}select{margin:0;padding:0;border:1px solid #c9c9c9;box-sizing:border-box;line-height:1}form label,form input,form span,form img,form em,form a{display:inline-block;margin-top:0;vertical-align:middle}form fieldset,legend,form input{border:0}input,textarea{font-size:1em;font-family:"ngn";vertical-align:baseline;vertical-align:middle;border:0}input[type="checkbox"],input[type="radio"]{margin:0 3px 0 0;padding:0;width:13px;height:13px;line-height:13px;vertical-align:middle}input[type="checkbox"]+label,input[type="radio"]+label{margin:0 10px 0 3px;vertical-align:middle;cursor:pointer}input[type="text"],input[type="password"],input[type="file"],input[type="search"]{min-width:120px;width:auto;height:18px;padding:4px 5px;margin:0;border:1px solid #adadad;border-top-color:#adadad}input[type="file"]{height:26px;padding:0 5px;font-size:.929em;border:1px solid #adadad}:root input[type="file"]{padding:0 5px 0 0;border:0 none\9}input[readonly="readonly"],input[readonly],input[disabled="disabled"],input[disabled]{border:1px solid #adadad;background:#f3f3f3;color:#928881}input[type="submit"]{border:1px solid #adadad;background:#f3f3f3;color:#928881}input[type="button"],input[type="reset"],input[type="submit"]{min-width:20px;width:auto;height:28px;padding:4px 16px;margin:0;border:1px solid #575757;background:#575757;font-weight:400;font-size:.9em;line-height:1em;color:#fff}textarea{overflow:auto;padding:0;border:1px solid #adadad;vertical-align:top}select{height:28px;margin:0;border:1px solid #adadad;border-top-color:#adadad}legend{position:absolute;visibility:hidden;left:0;top:0;width:1px;height:1px;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px;border:0;white-space:normal}input[type="text"],input[type="password"],input[type="tel"],input[type="email"],input[type="number"],select,textarea{margin:0;border:1px solid #ccc;color:#666;vertical-align:middle}input[type="text"],input[type="password"],input[type="tel"],input[type="email"],input[type="number"]{line-height:18px}textarea{resize:none;overflow:scroll}select:focus{position:relative}*+html body select{padding:0}.board_total{position:relative}.tablewrap{position:relative}.tablewrap:after{content:"";display:block}.tablewrap .board_total,.tablewrap .btnwrap,.tablewrap .note,.tablewrap .selectwrap,.tablewrap .btn_right{position:absolute}.tablewrap .board_total,.tablewrap .note,.tablewrap .selectwrap,.tablewrap .btn_right{position:absolute}.tablewrap .btn_right{right:0}.tablewrap .basic_table.w_auto{width:auto}.btnwrap .btns{display:block;margin:1px;padding:5px;background:#fafafa;text-align:right}.button.small a{padding:4px 10px}
fieldset {margin:0;padding:0;border:none;}
form label,form input,form select,form span,form img,form em,form a {display:inline-block;margin-top:0;vertical-align:middle}
input,textarea,select {font-size:1em;/*font-family:Nanum Gothic;*/vertical-align:baseline;vertical-align:middle}
input[type="checkbox"],input[type="radio"]{margin:0;padding:0;width:14px;height:14px}
input[type="checkbox"]+label,input[type="radio"]+label{margin:0 10px 0 3px;vertical-align:middle;cursor:pointer}
input[type="text"],input[type="password"],input[type="file"],input[type="search"]{vertical-align:top; min-width:100px;width:auto;height:18px;padding:4px 5px;margin:0;border:1px solid #cecece;border-top-color:#cecece}
input[type="file"]{height:26px;padding:0 5px;font-size:0.929em;border:1px solid #adadad}
:root input[type="file"]{margin-bottom:5px;padding:0 5px 0 0;border:none}
input[readonly="readonly"],input[readonly],input[disabled="disabled"],
input[disabled]{border:1px solid #adadad;background:#f3f3f3;color:#928881}
textarea {overflow:auto;padding:0;border:1px solid #d9d9d9;vertical-align:top; width:100%;}
select {height:28px;margin:0;padding:0;border:1px solid #cecece;border-top-color:#cecece}
*+html body select {padding:0}
legend {position:absolute;visibility:hidden;left:0;top:0;width:1px;height:1px;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px}
legend {*margin-left:-7px;border:0;white-space:normal}

input[type=radio] {border-radius:100%;}
textarea:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=url]:focus {border-color:#13549d !important; outline:none;}

.strongs {font-weight:600;}

.blind {overflow: hidden; position: absolute; top: -9999em; left: -9999em; width: 1px; height: 1px; line-height: 1px; text-indent: -9999em;}

